body{
    font-family: Arial, sans-serif;
    text-align: center;
    margin: 0;
    padding: 0;
    background-color:  #1aa2f1; 
}
    section{
        width: 100%;
        background-color: #fff;
        height: 4
        00%;
    }
input{
    padding: 10px;
    width: 200px;
    margin: 20px;
    border: 1px solid #ccc;
    border-radius: 4px;
}
button{
    padding: 10px 20px;
    background-color: #1fdfb5;
    color: rgba(18, 17, 17, 0.808);
    border: none;
    border-radius: 4px;
    cursor: pointer;
}
button:hover{
    background-color: #8613f0;
}
ul{
    list-style-type: none;
    padding: 0;
}
li{
    background-color: #fff;
    margin: 5px;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 4px;
    display: flex;
    justify-content: space-between;
}
li{
    background-color: #fff;
    margin: 5px;
    padding: 10px;
    border-radius: 4px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
li.completed{
    text-decoration: line-through;
    color: #888;
}
li button{
    background-color: #dc3545;
    border:none;
    color: rgb(60, 197, 224);
    padding: 5px 10px;
    cursor: pointer;
}
li button:hover{
    background-color: #c82333;
}
div{
    margin: 50px;
}
#task-date{
    background-color: #1fdfb5;
  
}
#task-name{
    background-color: #0edba4;
}

